<div class="inner">
    <div class="copyright">
        <div class="footer-grid">
            <div class="footer-column">
                <section>
                    <h4>Ressources</h4>
                    <ul class="alt">
                        <li><a href="#">Glossaire</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Felis enim feugiat dolore viverra.</a></li>
                    </ul>
                </section>
            </div>
            <div class="footer-column">
                <section>
                    <h4>Section 2</h4>
                    <ul class="alt">
                        <li><a href="#">Dolor pulvinar etiam magna etiam.</a></li>
                        <li><a href="#">Sagittis adipiscing lorem eleifend.</a></li>
                        <li><a href="#">Felis enim feugiat dolore viverra.</a></li>
                    </ul>
                </section>
            </div>
            <div class="footer-column">
                <section>
                    <h4>Liens utiles</h4>
                    <nav>
                        <ul class="alt">
                            <li><a href="/pages/mentions-legales.html">Mentions légales</a></li>
                            <li><a href="/">Politique de confidentialité</a></li>
                            <li><a href="pages/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <section>
            <h4>Réseaux sociaux</h4>
            <ul class="icons">
                <li>
                    <a href="https://twitter.com/SeoBoostify" class="icon fa-twitter" aria-label="Twitter" role="link">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61559126383318" class="icon fa-facebook" aria-label="Facebook" role="link">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-youtube" aria-label="Instagram" role="link">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-envelope" aria-label="Email" role="link">
                        <span class="label">Email</span>
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <p id="year">&copy; 2019-<span id="currentYear"></span> BoostifySEO. Tous droits réservés.</p>
        </section>
    </div>
</div>
